{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 5%", "last 2 versions", "not ie <= 8"]
      },
      "include": ["transform-es2015-arrow-functions", "es6.map"]
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx", "transform-runtime"
    ,["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    },"vant"
  ]  
  ],
  "env": {
    "development": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
