$color-primary: #55ADFC;

body {
  .van-nav-bar {
    background-color: $cf9;
  }
  .van-nav-bar .van-icon {
    color: #333!important;
  }
  .van-button--primary {
    background-color: $color-primary;
    border: 2px solid $color-primary;
  }
  .van-button--primary.van-button--plain {
    border: 1px solid $color-primary;
    color: $color-primary;
    background-color: #fff;
  }
  .submit_buttons {
    padding: 0 14.5px;
    .van-button--primary {
      width: 346px;
      height: 52px;
      margin-top: 64px;
    }
  }
  .coupon {
    .van-cell {
      background: $cf9;
      padding: 15px 15px 0px 15px;
    }
    .van-cell:not(:last-child)::after {
      border-bottom: none;
    }
    .coupon_content .btn-conduct {
      border: 2px solid #55ADFC;
      color: #55ADFC;
    }
    .coupon_content .btn-end {
      border: 2px solid #ACACAC;
      color: #ACACAC;
    }
  }
}